#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background-color: #F6EFE3;
  font-weight: 400;
  color:#000000;
  padding: 4rem 0 4rem 0;
  //padding: 0rem 0rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
 // -webkit-text-stroke: 1px pink;

  // If you want to set a background image on the hero section, uncomment these with yout custom image
/* 
  background: url("../../src/images/hero.png");
  background-position: center;
  background-size: cover;*/ 

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: center;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    
    }
  }

  .hero-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;
  }

    .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
      
      
    }
  }
}
.to-about i {
  color: #C32E78;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    transform: translateY(+4px);
  }
}

