#projects {
  background-color: rgb(234, 230, 228);
  color: #333333;
  margin-top: -15rem;
  padding-top: 18rem;
  //background: url("../../src/images/malena2.jpg");
  background-position: center;
  background-size: cover; 

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 13rem;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;
      font-weight: 500;
      justify-content: center;
      align-items: center;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      
      &-title {
       // font-weight: 900;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;
       /* -webkit-text-stroke: 1px black; 
        color: white;
        text-shadow:
            2px 2px 0 #000,
          -1px -1px 0 #000,  
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000; */
        
            
      @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
       width: 60%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 50%;
        margin: 10;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 0px 0px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.08), 0 0 0px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          border: 0px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}
