// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

//Facebook colours
//$primary-color :#0072ff;
//$secondary-color:#00c6ff;

//$white-color: #111111;

//$dark-grey: #333333;

//$dark-blue-text: #272341; // For Headings  */

//$primary-color: #333333;
//$secondary-color: #333333;

$primary-color: rgb(234, 230, 228);
$secondary-color: rgb(234, 230, 228);



//$white-color: #f7f4f2;
$white-color: #333333;
$dark-grey: #333333;

$dark-blue-text: #333333; // For Headings  */


// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
